#box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
   
    
}
#box2{
   margin: 10px;
   padding: 5px;
   border-radius: 10px;
   
    text-align: center;
   background-color: rgb(241, 239, 239);
}
button{
    background-color: black;
    color: azure;
    border: none;
    border-radius: 5px;
    padding: 12px;
}
p{
    font-size: 20px;
}